* {
    font-family: Georgia;
    text-align: center;
}
#titulo{
    color: rgba(5, 5, 5, 0.795);
}

.subtitulo{
    color: aqua;
    margin-top: 50px;
}
button{
background-color: blue;
color: rgb(0, 0, 0);
border-radius: 5px;
margin-top: 20px;
}
input{
    border-color: chartreuse;
    border-radius: 10px;
    width: 250px;
    height: 30px;
}
body{
    background-image: url("https://www.ucatalunya.edu.co/img/blog/los-mejores-lenguajes-de-programacion-en-el-desarrollo-web-y-su-importancia-en-la-era-digital.jpg");
}