body{
    margin: 0;
    background-image: url(Netflix.jpg);
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}
.sombra{
    background-image: linear-gradient();
}
.header{
    background-color: #141414;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.header nav{
    display: flex;
    align-items: center;
}
.header .logo{
    width: 100px;
}
.main .inici{
    justify-content: center;
    display: flex;
    width: 220px;
}
.header nav a{
    color: rgb(244, 248, 252);
    text-decoration: none;
    margin-right: 10px;
}
.header button{
    background-color: #d81f26;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80vh;
    flex-direction: column;

}

.main .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}
.main button{
    background-color: #d81f26;
    color: aliceblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}
.main input{
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color:#141414d7;
}
footer{
    background-color: #141414;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;

}
footer p a,a:visited,a:hover,a:link{
    text-decoration: none;
    color: #b9b9b9;
}
footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
}
footer ul li{
    margin: 8px;
}


.contenedor2 .cuadros {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
} /*  hola care pastelo  */
.container .cuadros .parra{
    display: flex;
    justify-content: center;
}
/* aq */
.cuadros .botton{
    color: #b9b9b9;
}


.form-container{
    background-color: #141414dd;
    padding: 40px;
    border-radius: 10px;
    max-width: 700px;
}

.form-container h3{
    font-size: 24px;
    font-weight: bold;
}

.form-container form{
    display: flex;
}

.form-container form input{
   margin-bottom: 8px;
   background-color: #8d111110;
   color: #ffff;
}

body{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;

}
.logo{
    max-width: 5rem;
}
.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.nav-list li a{
    text-decoration: none;
    color: rgb(253, 253, 253);
}
.abrirMenu, .cerrarMenu{
    display: none;
}
header .botones{
    display: flex;
    align-items: center;
    gap: 10px;
}

header .botones .iniciar{
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 550px){
    .abrirMenu,
    .cerrarMenu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;

    }
    .abrirMenu{
        color: #e4d5d5;
    }
    .cerrarMenu{
        color: #ececec;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a{
        color: #e2cdcd;
    }
}