body{
    margin: 0;
    background-image: url(https://lh3.googleusercontent.com/drive-storage/AJQWtBNIJ3NRQAAc_aflY9yk4R-hJb7TbWozz0qF05g5NFDDuie9kbXadXydZmbJBM7zrpycnJEHQxgXyf_S6uLNU5rszUPTF0DHLcCcetctzq3BGw=w1349-h633);
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}
.sombra{
    background-image: linear-gradient();
}
.header{
    background-color: #141414;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.header nav{
    display: flex;
    align-items: center;
}
.header .logo{
    width: 100px;
}
.header nav a{
    color: aliceblue;
    text-decoration: none;
    margin-right: 20px;
}
.header button{
    background-color: #d81f26;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
}
.container button{
    background-color: #d81f26;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80vh;
    flex-direction: column;

}
.main .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}



p{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul a{
    display: flex;
    color: white;
}
