body{
    margin: 0;
    background-image: url(Netflix.jpg);
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}
.sombra{
    background-image: linear-gradient();
}
.header{
    background-color: #141414;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.header nav{
    display: flex;
    align-items: center;
}
.header .logo{
    width: 100px;
}
.header nav a{
    color: rgb(244, 248, 252);
    text-decoration: none;
    margin-right: 10px;
}
.header button{
    background-color: #d81f26;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80vh;
    flex-direction: column;

}
.main .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}
.main button{
    background-color: #d81f26;
    color: aliceblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}
.main input{
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color:#141414d7;
}
footer{
    background-color: #141414;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;

}
footer p a,a:visited,a:hover,a:link{
    text-decoration: none;
    color: #b9b9b9;
}
footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
}
footer ul li{
    margin: 8px;
}


.contenedor2 .cuadros {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
} /*  hola care pastelo  */
.container .cuadros .parra{
    display: flex;
    justify-content: center;
}
/* aq */
.cuadros .botton{
    color: #b9b9b9;
}


.form-container{
    background-color: #141414dd;
    padding: 40px;
    border-radius: 10px;
    max-width: 700px;
}

.form-container h3{
    font-size: 24px;
    font-weight: bold;
}

.form-container form{
    display: flex;
}

.form-container form input{
   margin-bottom: 8px;
   background-color: #ffffff10;
   color: #ffff;
}

.form-container .btn/code{
   
}