body{
    background-color: black;
}
#button2 {
    position: relative;
    display: inline-block;
    padding: 4px 15px;
    margin: 40px 0;
    color: #ff00ff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
}

#button3 {
    position: relative;
    display: inline-block;
    padding: 4px 15px;
    margin: 40px 0;
    color: #03f4f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
}

.neon-button-pink {
    color: #e100ff;
}
.neon-button-blue {
    color: #03e9f4;
}
.neon-button-blue:hover {
    color: #fff;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}
.neon-button-pink:hover {
    color: #fff;
    box-shadow: 0 0 5px #e100ff, 0 0 25px #e100ff, 0 0 50px #e100ff, 0 0 200px #e100ff;
}


.neon-button-blue:before,
.neon-button-pink:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, currentColor, transparent);
    transition: 0.5s;

}

.neon-button-blue:hover:before,
.neon-button-pink:hover:before {
    left: 100%;

}

#modulo {
    color: #39ff14;
}
#OPERACIONESBASICAS {
    color: #ff1414;
    
}
#operador{
    color: #fafafac2;
}

#resul{
    color: #ffe714;
}
#OPERACIONESAVANZADAS{
    color: #14fff3;
}
#resultado{
    color: #3714ff;
}


#boton1 {
    position: relative;
    display: inline-block;
    padding: 1px 5px;
    margin: 1px 0;
    color: #e100ff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    overflow: hidden;
    margin-right: 0px;
}
#boton2 {
    position: relative;
    display: inline-block;
    padding: 1px 5px;
    margin: 1px 0;
    color: #4400ff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    overflow: hidden;
    margin-right: 0px;
}
#boton3 {
    position: relative;
    display: inline-block;
    padding: 1px 5px;
    margin: 1px 0;
    color: greenn;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    overflow: hidden;
    margin-right: 0px;
}
#boton4 {
    position: relative;
    display: inline-block;
    padding: 1px 5px;
    margin: 1px 0;
    color: #ff008c;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    overflow: hidden;
    margin-right: 0px;
}
#boton5 {
    position: relative;
    display: inline-block;
    padding: 1px 5px;
    margin: 1px 0;
    color: #ff0000;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    overflow: hidden;
    margin-right: 0px;
}
#boton6 {
    position: relative;
    display: inline-block;
    padding: 1px 5px;
    margin: 1px 0;
    color: #e5ff00;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    overflow: hidden;
    margin-right: 0px;
}
.neon-button-pinkk {
    color: #e100ff;
}
.neon-button-pinkk:hover {
    color: #fff;
    box-shadow: 0 0 5px #e100ff, 0 0 25px #e100ff, 0 0 50px #e100ff, 0 0 200px #e100ff;

}

.neon-button-bluee {
    color: #4400ff;
}
.neon-button-bluee:hover {
    color: #fff;
    box-shadow: 0 0 5px #4400ff, 0 0 25px #4400ff, 0 0 50px #4400ff, 0 0 200px #00ff80;

}

.neon-button-greenn {
    color: #00ff80;
}
.neon-button-greenn:hover {
    color: #fff;
    box-shadow: 0 0 5px #00ff80, 0 0 25px #00ff80, 0 0 50px #00ff80, 0 0 200px #00ff80;

}

.neon-button-purplee {
    color: #ff008c;
}
.neon-button-purplee:hover {
    color: #fff;
    box-shadow: 0 0 5px #ff008c, 0 0 25px #ff008c, 0 0 50px #ff008c, 0 0 200px #ff008c;

}

.neon-button-redd {
    color: #ff0000;
}
.neon-button-redd:hover {
    color: #fff;
    box-shadow: 0 0 5px #ff0000, 0 0 25px #ff0000, 0 0 50px #ff0000, 0 0 200px #ff0000;

}

.neon-button-yelloww {
    color: #e5ff00;
}
.neon-button-yelloww:hover {
    color: #fff;
    box-shadow: 0 0 5px #e5ff00, 0 0 25px #e5ff00, 0 0 50px #e5ff00, 0 0 200px #e5ff00;

}




.neon-button-pinkk:before,
.neon-button-bluee:before,
.neon-button-greenn:before,
.neon-button-purplee:before,
.neon-button-redd:before,
.neon-button-yelloww:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, currentColor, transparent);
    transition: 0.5s;

}


.neon-button-pinkk:hover:before,
.neon-button-bluee:hover:before,
.neon-button-greenn:hover:before,
.neon-button-purplee:hover:before,
.neon-button-redd:hover:before,
.neon-button-yelloww:hover:before {
    left: 1000%;
}