*{
    box-sizing: border-box;
    background-color: rgb(54, 56, 56);
}
body{
     margin: 5; /*margenes */
    padding: 5;
}
img{
    width:100%;
    display: block;
}
.fila{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.columna{
    flex: 1 1 25%; /* Ajusta las columnas para que se envuelvan correctamente */
    max-width: 25%; /* Limita el ancho máximo al 25% */
    padding: 5px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}
.columna img{
    margin-top: 10px;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .columna {
        flex: 1 1 50%; /* Ajusta el tamaño de las columnas al 50% en pantallas más pequeñas */
        max-width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .columna {
        flex: 1 1 100%; /* Ajusta el tamaño de las columnas al 100% en pantallas muy pequeñas */
        max-width: 100%;
    }
}