*{
    box-sizing: border-box;
    background-color: rgb(54, 56, 56);
}
body{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
.fila{
    display: flex;
    padding: 10px;
}
.columna{
    flex: 25%;
    padding: 5px;
}
.columna img{
    margin-top: 10px;
}