body{
    margin: 0;
    font-family: Arial, sans-serif;
     background-image: url(Netflix.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}
.header{
    background-color:#141414 ;
    display: flex;
    justify-content:space-around;
    padding: 20px;

}
.header nav{
    display: flex;
    align-items: center;
}
.header .logo{
    width: 100px;
}
.header nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}
.header button{
    background-color: #d81f26;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 80vh;
    flex-direction: column;
}
.main .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}
.main button{
    background-color: #d81f26;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}
.main input{
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #141414cb;
}
footer{
    background-color: #141414;
    display: flex;
    align-items: center;
    flex-direction:column;
    color: #fff;
}
footer p a,a:visited,
a:hover, a:link {
    text-decoration: none;
    color: #b9b9b9;
}
footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700x;
}
footer ul li{
    margin: 8px;
}