body {
    font-family: Arial, sans-serif;
    background-image: url(https://img.freepik.com/vector-premium/comida-comida-rapida-fondo-blanco_1308-102199.jpg);
    background-size: cover; /* La imagen cubrirá toda la pantalla */
    background-position: center;
    height: 100vh; /* Altura del cuerpo al 100% de la altura de la ventana */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el relleno por defecto */
}

.recipe-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ingredient-list {
    margin-bottom: 10px;
}

.ingredient {
    margin-bottom: 5px;
}
