/* body {
    font-family: Arial, sans-serif;
    background-image: url(https://img.freepik.com/vector-premium/comida-comida-rapida-fondo-blanco_1308-102199.jpg);
    background-size: cover; 
    
    background-position: center;
    height: 100vh;        
    margin: 0;             
    padding: 0;            
} */
/* La imagen cubrirá toda la pantalla */
/* Altura del cuerpo al 100% de la altura de la ventana */
/* Elimina el margen por defecto */
/* Elimina el relleno por defecto */

/* #titulo{
    color: rgb(239, 250, 250);
}
#nombreReceta{
    color: rgb(255, 14, 14);
}

#pasospreparacion{
    color: rgb(255, 0, 0);
}
button {
    background-color: rgb(0, 140, 255);
} */
